<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear recruitment team at <%= @company_name %></h1>
    <p>
      New application was sent for the position of <%= @title %> at
      your company.<br>
    </p>
    <p>
      Details for the new applicant are the following:
      Name: <strong><%= @full_name %></strong>
      Email address: <%= @email %>
    </p>
    <p>Thanks for using our site and have a great day!</p>
  </body>
</html>
